/*---APPEARANCE---*/

.titleBar {
  opacity: .75;
  height: 90px;
  text-align: center;
}

.header__img {
  border-radius: 5px;
}

.profile {
  border-radius: 5px;
  height: 300px;
}

.infoBox {
  border-radius: 5px;
  height: 452.5px;
}

footer {
  border-radius: 5px;
  height: 200px;
}



















