/*---APPEARANCE---*/

.titleBar {
  opacity: .75;
  height: 90px;
  text-align: center;
}

.header__img {
  border-radius: 5px;
}

.profile {
  border-radius: 5px;
  height: 100px;
}

.infoBox {
  border-radius: 5px;
  height: 200px;
}

footer {
  height: 100px;
  padding: 5px;

}
